fastapi
uvicorn[standard]
sqlalchemy
alembic
python-multipart
passlib[bcrypt]
pyjwt
sentence-transformers
transformers
torch
python-magic
pymupdf
pytesseract
langdetect
python-multipart
pydantic
python-dotenv
Pillow
sacremoses
sentencepiece
